@font-face {
  font-family: ScriptWriter;
  src: url(/scriptwriter.ttf);
}

@font-face {
  font-family: Editor-Sans;
  src: url(/editorsans-text.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Editor-Sans';
}

::-moz-selection {
  background: #abe4fd;
  color: #0b284b;
  text-shadow: none;
}

::selection {
  background: #abe4fd;
  color: #0b284b;
  text-shadow :none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}
::-webkit-scrollbar-corner { 
  -webkit-appearance: none;
  display: none;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 50%;
  padding: 10px;
  background: #2b2f33;
  color: #c0c8d5;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
  text-align: center;
}

.popup div {
  margin: 25px;
}

div.settings .holder {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings .holder label       { text-align:right; }
div.settings .holder label:after { content: ":"; }

.popup p {
  padding-bottom: 20px;
}
.popup .close {
  float: right;
  color: #c0c8d5;
}
.popup div a {
  color: #c0c8d5;
}
.popup div {
text-align: center;
}
.popup a:hover {
  cursor: pointer;
}

#background {
  z-index: 0;
  background: #2b2f33;
  overflow: hidden;
}

#foreground {
  z-index: 5;
  background: black;
}

#foreground #canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 20%;
  width: 70%;
}

#layer_holder {
  position: absolute;
  background: rgb(31,31,31);
  overflow: scroll;
  scrollbar-width: none;
  right: 0;
  top: 0;
  bottom: 20%;
  width: 30%;
  color: rgb(192,200,213);
  font-family: 'Editor-Sans';
}

#cursor_preview {
  display: none;
  position: absolute;
  background: black;
  box-shadow: 0em 0px 16px 0px #abe4fd;
  z-index: 6;
  text-align:center;
  color: white;
  font-size: 10px;
  color: rgb(255,255,255);
  font-family: 'Editor-Sans';
}

#header {
  background: rgb(43,47,51);
  text-align: center;
  font-size: 12px;
  font-family: 'Editor-Sans';
}

a {
  color: rgb(255,255,255);
}
a:visited {
  color: rgb(255,255,255);
}

#header div {
  display: inline-block;
  padding: 4px;
  margin: 4px;
}

#header a {
  padding: 4px;
  margin: 4px;
}

#header div:hover,
#layers div a:hover,
#layers div canvas:hover {
  cursor: pointer;
}

#layers .preview {
  font-size: 12px;
  font-family: 'Editor-Sans';
  word-break: break-all;
  display: flex;
  padding: 4px;
  height: 5vw;
}

#layers .preview_title {
  padding: 5px;
  width: 70%;
}

#layers .preview_thumb {
  background: black;
  width: 30%;
}

#layers .preview_title input {
  margin: 5px;
}

#layers div {
  border-left: solid rgb(40,41,42) 4px;
}

#layers .selected {
  color: rgb();
  background-color: rgb(37,44,58);
  border-left: solid rgb(169,225,250) 4px;
}

#foreground #time {
  position: absolute;
  background: rgb(43,47,51);
  right: 0;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: none;
}

#foreground #time canvas {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
}

#foreground #canvas canvas {
  width: 100%;
  height: 100%;
}